:root {
  --black-light: #24292f;
  --black: #000;
  --black-dim: #afb8c1;
  --red: #ed2121;
  --purple: #8250df;
  --purple-dark: #512a97;
  --primary: #218bff;
  --secondary: #0969da;
  --gray: #f6f8fa;
  --light-gray: rgb(208, 215, 222, 0.7);
  --white: #fff;
  --gray-dim: #f6f7ff;
  --navy: #002155;
  --blue: #218bff;
  --font-12: 12.52px;
  --font-14: 14px;
  --font-16: 16px;
  --font-18: 18.67px;
  --font-21: 21.4px;
  --font-24: 24px;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: var(--black-light);
}

html {
  scroll-behavior: smooth;
}
/* fonts */

.light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.font-12 {
  font-size: var(--font-12);
}

.font-14 {
  font-size: var(--font-14);
}

.font-16 {
  font-size: var(--font-16);
}

.font-18 {
  font-size: var(--font-18);
}

.font-21 {
  font-size: var(--font-21);
}

.font-24 {
  font-size: var(--font-24);
}

/* border */

.border-none-all {
  border: none !important;
}

.border-none-l {
  border-left: none !important;
}

.border-none-r {
  border-right: none !important;
}

.border-none-t {
  border-top: none !important;
}

.border-none-b {
  border-bottom: none !important;
}

.border-pr-r {
  border-right: 1.5px solid var(--primary) !important;
}

.border-pr-l {
  border-left: 1.5px solid var(--primary) !important;
}

.border-light {
  border: 1px solid var(--light-gray);
}

/* height and width */

.w-100 {
  width: 100%;
}

.w-40 {
  width: 40%;
}

.w-26 {
  width: 26%;
}

.h-56 {
  height: 56px;
}

.h-48 {
  height: 48px;
}

.ht-100 {
  height: 100%;
}

/* margins and paddings */

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 2rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.custom-p {
  padding: 40px 30px;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-custom {
  margin-top: 45px;
}

/* buttons */

.b-red-btn,
.b-red-btn:hover {
  border: 1px solid var(--red) !important;
  color: var(--red) !important;
}

.btn-red {
  background: #ffecec;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.btn-red img {
  width: 22px;
  height: 22px;
}

.btn-navy {
  color: var(--navy);
  font-weight: 500;
  font-size: var(--font-16);
}

.bt-lg {
  font-size: var(--font-18);
  padding: 0 20px;
  height: 60px;
  font-weight: 500;
}

.bt-md {
  border: 1px solid #d0d7de;
  font-size: var(--font-18) !important;
  color: var(--black);
  padding: 12px 20px;
  height: 56px;
}

.bt-sm {
  height: 40px;
  padding: 5px 32px;
  font-weight: 500;
}

.b-blue-btn {
  background: var(--blue) !important;
  color: #fff;
}

button {
  transition: 0.3s ease-in-out;
}

button:focus,
button:hover {
  box-shadow: none !important;
  outline: none !important;
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}

/* colors */

.text-purple {
  color: var(--primary);
}

.text-pr-dark {
  color: var(--primary);
}

.text-black {
  color: var(--black);
}

.text-dim {
  color: var(--black-dim);
}

.text-red {
  color: var(--red);
}

.text-white {
  color: var(--white) !important;
}

.text-navy {
  color: var(--navy);
}

.text-secondary {
  color: var(--secondary);
}

.bg-navy {
  background: var(--navy);
}

.bg-secondary {
  background: var(--secondary);
}

.bg-white {
  background: var(--white);
}

.bg-gray {
  background: var(--gray);
}

.bg-none {
  background: transparent;
}

.bg-pr-dark {
  background: var(--primary);
}

.bg-light-gray {
  background: var(--light-gray);
}

.bg-gray-dim {
  background: var(--gray-dim);
}

.bg-transi {
  background: none;
}

/* custom items */

.theme-select {
  height: 36px;
}
.custom-input-text {
  box-shadow: none;
}

.custom-input-text:focus {
  box-shadow: none;
  border: 1px solid var(--light-gray);
}

.customs-scroll::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.customs-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(128, 128, 128, 0.2);
  border-radius: 10px;
  height: 2px;
}

.customs-scroll::-webkit-scrollbar-thumb {
  background: rgb(208, 215, 222, 0.6);
  border-radius: 10px;
  height: 2px;
}

.custom-radio {
  display: inline-block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
}

.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-circle {
  position: absolute;
  top: 2px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1px solid var(--primary);
  border-radius: 50%;
}

.custom-radio input:checked ~ .radio-circle {
  background: url(../img/circle-radio.png);
  background-repeat: no-repeat;
  background-position: center;
}

.radio-label {
  font-weight: 500;
  font-family: poppins;
}

.radio-bl .radio-circle {
  border: 1px solid var(--black);
}

.radio-bl .radio-label {
  font-weight: 600;
  font-size: var(--font-18);
}

.radio-bl .radio-circle {
  top: 6px;
}

.theme-select {
  padding: 0 10px;
  border: 1px solid var(--light-gray) !important;
  outline: none;
  color: var(--black-dim);
  height: 46px;
}

.theme-select-modal {
  height: 48px;
  color: #555;
}

/* flex */

.flex-start {
  display: flex;
  justify-content: start;
}

.ds-block {
  display: block;
}

.ds-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.ds-flex-end {
  display: flex;
  justify-content: flex-end;
}

.ds-flex-center {
  display: flex;
  justify-content: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.ds-flex-between {
  display: flex;
  justify-content: space-between;
}

.ds-flex-even {
  display: flex;
  justify-content: space-evenly;
}

.dr-col {
  flex-direction: column;
}

/* all css */

.p-relative {
  position: relative;
}

.sidebar {
  width: 120px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 4px 15px rgba(233, 233, 233, 0.641);
  margin: 0;
  padding: 40px 0 20px 0;
  overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  flex-direction: column;
  text-align: center;
}

.sidebar ul li {
  margin: 12px 0;
  width: 100%;
}

.sidebar ul li a {
  text-decoration: none;
  color: var(--black-dim);
  font-size: var(--font-14);
  position: relative;
}

.sidebar ul li:has(.active) a::after {
  content: "";
  display: block;
  height: 60px;
  width: 7px;
  background-color: var(--primary);
  right: 0;
  position: absolute;
  top: -20px;
  border-radius: 10px 0 0 10px;
}

.sidebar ul li:has(.active) a p,
.sidebar ul li a:hover {
  color: var(--primary);
}

.sidebar ul li:has(.active) a svg path,
.sidebar ul li a:hover svg path {
  stroke: var(--primary) !important;
}

.logo-sm {
  width: 66px;
  height: 66px;
  margin-bottom: 15px;
}

.img-32 {
  width: 32px;
  height: 32px;
}

.img-bordered img {
  object-fit: cover;
  object-position: top;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  padding: 2px;
  border: 1px solid #d9d9d9;
}

.border-none::after {
  width: 0 !important;
}

.tag {
  background: var(--red);
  width: 16px;
  height: 16px;
  border-radius: 3.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 9.6px;
}

.tag-wrp .tag {
  position: absolute;
  right: -6px;
  top: -22px;
}

.product-list {
  background: var(--gray);
}

.img-wrp {
  align-items: center;
  border-radius: 10px;
  position: relative;
}

.listing-wrp {
  padding: 0 20px 0 0;
  transition: all 0.3s ease-in-out;
}

.inner-wrp {
  width: 131px;
  height: 180px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrp img {
  object-fit: cover;
}

.ribbon {
  min-width: 42px;
  height: 22px;
  position: absolute;
  left: 0;
  top: 20px;
  border-radius: 0 15px 15px 0;
  font-size: 10px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 7px;
}

.ribbon-purple {
  background-color: var(--purple);
}

.ribbon-red {
  background-color: #ff3030;
}

.img-wrp p {
  font-size: var(--font-12);
  color: var(--black);
}

.p-price {
  color: var(--primary);
  font-size: var(--font-12);
}

.p-price span {
  color: #d0d7de;
}

.product-listing {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 100px;
}
.product-listing-row {
  transition: all 0.3s ease-in-out;
}

.product-listing .col {
  width: 25%;
  cursor: pointer;
  animation: leaves 0.5s ease-in-out;
}

.product-listing .col-lg-3 {
  padding: 0;
}

.content {
  height: 100vh;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.tag-invoice {
  background-color: var(--primary);
  font-size: var(--font-16);
  height: 26px;
  width: 26px;
  border-radius: 2px;
  color: var(--white);
}

.h-small {
  height: 35px;
}

.cart-table {
  width: 100%;
  overflow: scroll;
  height: 100%;
}

.cart-table table {
  border-collapse: collapse;
  width: 100%;
  overflow-x: scroll;
}

.cart-table td,
.cart-table th {
  border: 1px solid none;
  text-align: left;
  padding: 15px 20px;
  font-weight: 500;
  text-wrap: nowrap;
  font-size: 14px;
  text-align: center;
}

.cart-table th {
  font-size: var(--font-18);
  background-color: var(--white);
}

.cart-table th:first-child {
  text-align: left;
}

.cart-table td:first-child {
  font-size: 16px;
  text-align: left;
  text-wrap: wrap;
  cursor: pointer;
}

.cart-table tr td {
  background: var(--gray);
  border-bottom: 20px solid #fff;
}

.cart-table tr:first-child {
  border-bottom: 1px solid var(--light-gray);
}

.btn-wrp {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid var(--primary);
}
.value {
  font-size: var(--font-16);
  font-weight: 500;
  color: var(--black);
  margin: 0 10px;
  width: 25px;
}
.btn-wrp button {
  font-size: 20px;
  font-weight: 500;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: 1px solid var(--primary);
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0;
  outline: none !important;
}

.btn-wrp button:focus {
  outline: none;
}

.price-width {
  width: 173px;
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-5%);
    opacity: 0;
  }
}

.cart-table tr.slide-up {
  animation: slide-up 0.3s ease-out;
}

.cart-table tr {
  height: 50px;
}

.cart-footer {
  padding: 20px 0 0 0;
}

.my-content {
  transition: width 0.3s ease-all;
}

.expand-bg,
.expand-bg:focus {
  background: url(../img/icon-expand.svg);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 46px;
  transition: width 0.3s ease-all;
}

#expandButton.btn-small {
  background: url(../img/min-icon.svg);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  transition: width 0.3s ease-all;
}

.hide-me {
  display: none;
}

.bill-details {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  padding: 20px 20px 30px 20px;
}

.maximize-me {
  width: 20% !important;
}

.nav-mob {
  display: none;
}

.main-wrapper-sm::after {
  position: fixed;
  content: "";
  background: rgb(255, 255, 255, 0.8);
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
}

.nav-mob {
  height: 55px;
  padding: 8px 29px 10px 29px;
}

.logo-nav {
  width: 40px;
}

#openBtn {
  padding: 0 !important;
}

#closeBtn {
  display: none;
}

@keyframes leaves {
  0% {
    transform: scale(0);
    -webkit-transform: scale(1);
  }
  30% {
    transform: scale(0.3);
    -webkit-transform: scale(1);
  }
  60% {
    transform: scale(0.6);
    -webkit-transform: scale(1);
  }
  90% {
    transform: scale(0.8);
    -webkit-transform: scale(1);
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(2);
  }
}

.lg-title {
  font-size: 40px;
  color: var(--black);
}

.dim-title {
  color: var(--black-dim);
}

.m-lable {
  font-weight: 500;
  color: #0a0a0a;
}

.p-modal {
  padding: 20px 30px;
}

.browse-img {
  height: 56px;
  border: 1px dashed var(--black-dim);
  border-radius: 7px;
  cursor: pointer;
  width: fit-content;
}

.img-here {
  padding: 15px;
  border-right: 1px dashed var(--black-dim);
  height: 100%;
  justify-content: center;
}

.drag-here {
  padding: 15px;
  font-size: var(--font-14);
}

#selectedImage {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.payment-smry {
  padding: 15px;
}

.payment-smry p {
  font-size: var(--font-16);
}

.h-modal-footer {
  height: 150px;
}

#manage-product .m-lable {
  font-size: 16px;
}

.p-modal-print {
  padding: 50px;
}

.edit-ref {
  min-width: 100px;
  height: 28px;
  border-radius: 2px;
  padding-left: 4px;
}

.edit-ref:focus {
  outline: none;
  text-align: left;
  padding-top: 5px;
}

.bt-xs {
  font-size: 13px;
  padding: 4px 10px;
}

.img-18 {
  width: 18px;
}

.table-fix-h {
  height: 410px;
}

#customer .input-wrp {
  margin-top: 30px;
}

.modal-wider {
  width: 1200px;
  max-width: 100%;
}

.addon-width {
  width: 180px;
  text-align: right;
}

.w-50px {
  width: 50px;
  border: none;
  border-right: 1px solid var(--light-gray);
}

.w-50px:focus {
  box-shadow: none;
  outline: none;
  border: none;
}

.w-50px {
  width: 50px;
}

select option:checked {
  background: linear-gradient(lightblue, lightblue) !important;
}

#noItemsMessage {
  display: none;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--black-dim);
}
#snackbar,
#cart-snack {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show,
#cart-snack.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.cart-mobile img {
  width: 26px;
}

.cart-mobile .tag {
  position: absolute;
  top: -7px;
  right: -7px;
  width: 14px;
  height: 14px;
}
#pay-bank {
  display: none;
}

#my-content,
#invoice-parent {
  transition: opacity 0.5s ease, visibility 0.5s ease;
  opacity: 1;
  visibility: visible;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}


#close-button{
  font-size: 16px;
  font-weight: 200;
  border: 1px solid #ccdcee;
  margin-left: 11px;
  padding: 3px 10px;
}
/*.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}*/

/* ------ media queries for responsive design -------- */

@media (max-width: 2000px) {
  .product-listing .col {
    width: 25%;
    animation: leaves 0.5s ease-in-out;
  }
  .price-width {
    width: 131px;
  }
}
@media (max-width: 1500px) {
  .price-width {
    width: auto;
  }
}
@media (max-width: 1480px) {
  .product-listing .col {
    width: 33.3%;
  }
  .more-btns .bt-md {
    font-size: var(--font-18);
    padding: 10px 10px;
  }
}
@media (max-width: 1366px) {
  .bt-lg {
    font-size: var(--font-16);
  }
}
@media (max-width: 1200px) {
  .nav-mob {
    display: none;
  }
  .main-wrapper {
    margin-top: 54px;
  }
  
#invoice-parent {
  display: none;
}
  .product-listing .col {
    width: 25%;
  }
  #openBtn i {
    font-size: 20px;
  }
  .tag-wrp .tag {
    top: -7px;
  }
  #expandButton {
    display: none;
  }
  .product-listing {
    padding-bottom: 10px;
  }

  .product-listing,
  .cart-table {
    height: 100%;
  }
  .bt-md {
    font-size: var(--font-14) !important;
    padding: 5px 23px;
    font-weight: 500;
  }

  .more-btns .bt-lg {
    font-size: var(--font-14);
    width: -webkit-fill-available;
  }
  .modal-wider {
    width: 900px;
  }

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white);
    transition: 0.5s;
    padding-top: 60px;
    z-index: 99999;
    display: block;
  }

  .sidebar a {
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 30px;
    margin: 10px 0;
    font-weight: 600;
    color: var(--black) !important;
  }

  .sidebar a svg path {
    stroke: var(--black);
  }

  .sidebar .logo-sm {
    display: none;
  }

  .nav-mob {
    display: flex;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9;
    background: var(--gray-dim);
    box-shadow: inset 0 0 5px rgb(128, 128, 128, 0.2);
    align-items: center;
  }

  #closeBtn {
    display: block;
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }

  .sidebar #closeBtn {
    position: absolute;
    top: 3px;
    right: 0;
    font-size: 29px;
    margin-left: 50px;
  }

  #openBtn {
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .content {
    height: 100%;
  }
}

@media (max-width: 991px) {
  .lg-title {
    font-size: 30px;
  }
  .font-21 {
    font-size: var(--font-18);
}
  img.delete-btn {
    width: 20px;
   }
  .modal-wider {
    width: 600px;
  }

  .bt-sm, .cart-table td:first-child {
    font-size: var(--font-14);
  }

  #manage-product .m-lable {
    font-size: 14px;
  }

  .sm-start {
    align-items: flex-start;
  }

  .radio-bl .radio-label,
  .payment-smry p {
    font-size: 14px;
  }

  .payment-smry {
    margin-top: 30px;
  }

  .h-modal-footer {
    height: auto;
  }
}

@media (max-width: 768px) {
  .product-listing .col {
    width: 33.3%;
  }
  .bt-md,
  .more-btns .bt-md {
    padding: 1px 10px;
    height: 44px;
  }
  .bt-md svg {
    width: 20px;
  }
  .p-modal {
    padding: 20px 10px;
  }
  .custom-p {
    padding: 40px 20px;
  }
  .nav-mob {
    padding: 8px 19px 10px 19px;  
  }
  .sidebar a {
    font-size: var(--font-12);
    margin: 4px 0;
  }

  .custom-p {
    padding: 20px 20px;
  }
  .invoice-details h3,
  .cart-footer h3 {
    font-size: 21px;
  }
  .cart-table td:first-child {
    font-size: var(--font-14);
  }
  .cart-table td,
  .cart-table th {
    font-size: var(--font-12);
  }
  .cart-table td:first-child {
    text-wrap: nowrap;
  }
  .mb-sm-3 {
    margin-bottom: 0.75rem;
  }
  .btn-navy {
    font-size: var(--font-12);
  }
  .sm-col {
    flex-direction: column;
  }
  .modal-wider {
    width: auto;
  }
  .addon-width {
    width: 150px;
  }
  .theme-select,
  .bt-md,
  .more-btns .bt-md {
    height: 36px;
  }
  .h-48 {
    height: 39px;
  }
  .search-ic {
    width: 15px;
  }
  .theme-select,
  .input-group .form-control,
  .btn,
  .product-item p,
  .radio-label {
    font-size: 13px;
  }
  .warehouse {
    width: 100%;
  }
  .cat,
  .brand {
    width: 47%;
    margin-top: 20px;
  }
  .d-small-wrap {
    display: block;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  .mt-custom {
    margin-top: 10px;
  }
  .bill-details {
    margin-top: 20px;
  }
  .mt-sm {
    margin-top: 10px;
  }
  .details img {
    width: 15px;
  }
  .lg-title {
    font-size: 24px;
  }
  
  .get-link {
    padding: 3px 12px;
    height: 25px;
  }
  .logo-nav {
    width: 35px;
  }
  #snackbar,
  #cart-snack {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  .product-listing .col {
    width: 50%;
  }
}
